/* Google Font Import */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Poppins Font Styles */
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
/* Inter Font Styles */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Common Styles */
main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}



/* Header Styles */
.header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

}
/* Navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
.mobile-menu-icon{
    display: none;
}
.logo-text{
    font-size: 24px;
    font-weight: 800;
    color: #3A3A3A;
    text-transform: uppercase;
}
.gear-clr{
    color: #ff6b6b;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links li a:hover{
    color: #ff6b6b;
}
.search-cart-icons{
    display: flex;
    gap: 20px;
    font-size: 24px;
    color: #000;
}
/* hero section */
.hero-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}
.hero-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: "poppins", sans-serif;
}
.hero-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #6B7280;
    line-height: 1.5;
}
.btn-primary{
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: #ff4d4d;
}
.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Circle\ design.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    max-width: 500px;
}
.hero-image img{
    width: 100%;
    height: auto;
}
/* sponsor section */
.sponsor-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
            linear-gradient(90deg, #c0ccda00, #C0CCDA, #c0ccda00) border-box;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
}
.sponsor-company-logo {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.sponsor-company-logo img {
    filter: grayscale(100%);
    transition: transform 0.3s ease;
    -webkit-filter: grayscale(100%);
}
.sponsor-company-logo img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1.1);
}
/* Products Section */
.product-section{
    padding: 40px 20px;
    margin-top: 100px;
}
.section-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 40px;
}
.product-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.product-card {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product-title {
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 10px;
}
.product-price {
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;

}
.product-rating {
    font-size: 14px;
    font-weight: 400;
    color: #FB8200;
    margin-top: 5px;
    margin-bottom: 10px;
}
.rating-count {
    font-size: 14px;
    font-weight: 600;
    color: #6B7280;
    margin-left: 5px;
}
.product-description {
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
    margin-bottom: 10px;
}

.btn-see-more{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/* featured products section style */
.featured-products-section{
    padding: 40px 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.feature-products-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-products-image img{
    width: 100%;
    height: auto;
}
.feature-products-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.featured-products-title{
    font-size: 32px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.featured-products-description{
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
    margin-bottom: 20px;
}













/* Media Queries */

/* Tablet (≤991px) */
@media (max-width: 991px) {
    .header-section {
        flex-direction: column;
        align-items: center;
    }
    .logo-text {
        font-size: 22px;
    }
    .hero-content {
        max-width: 400px;
    }
    .hero-title {
        font-size: 32px;
    }
    .sponsor-company-logo {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
}

/* Mobile (≤767px) */
@media (max-width: 767px) {
    .header-section {
        flex-direction: column;
        align-items: center;
    }
    .logo-text {
        font-size: 20px;
    }
    .mobile-menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-items {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        display: none;
    }
    .hero-section {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .hero-content {
        display: flex;
        text-align: center;
        align-items: center;
        width: 100%;
        order: 2;
    }
    .hero-title {

        font-size: 28px;
    }
    .hero-image {
        max-width: 300px;
        order: 1;
    }
    /* sponsor section */
    .sponsor-company-logo {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .sponsor-logo img {
        width: 80px;
    }
}